body{
    background-color: rgb(77, 77, 77);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.construction{
    width: 100%;
    text-align: center;
}
.construction>i{
    font-size: 40px;
    text-align: center;
    height: 45px;
    width: 45px;
    border: 2px solid white;
    border-radius: 30px;
    color: rgba(222, 14, 14, 0.858);
    background-color: white;
}
.construction>h1{
    color: white;
    font-weight: 100;
    margin-top: 15px;
    font-size: 45px;
}
.construction>p{
    color: white;
    font-size: 20px;
    letter-spacing: 0.01cm;
}
.construction>p>a{
    text-decoration: none;
    color: blue;
}