.rightSideNav{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
body.dark-mode {
    background-color: #000;
    
  }
  
  body.dark-mode button:not(.btn-doubt) {
    background-color: white;
    color: #000;
  }
  
  body.dark-mode #theme-toggle {
    background-color: #fff;
  
  }
  
  body.dark-mode h1{
    color: aliceblue;
  }
#theme-toggle {
    /* position: fixed; */
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #theme-icon {
    font-size: 24px;
    color: blue ;
  }