body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Scrollbar Track */
body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Scrollbar Thumb */
body::-webkit-scrollbar-thumb {
  background-color: #484848; 
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

/* Optional: Hover effect */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
.footer {
  background-color: #343a40;
  color: white;
  padding: 40px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom:30px;
}
.footer .container div {
  flex: 1;
  margin: 0 20px;
}
.footer h6 {
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.footer h6::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #6f42c1;
  margin-top: 5px;
}
.footer p, .footer a {
  color: #adb5bd;
  text-decoration: none;
}
.footer a:hover {
  color: #6f42c1;
}
.footer .social-icons {
  text-align: center;
  padding: 20px 0;
  background-color: #6f42c1;
}
.footer .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}
.footer .social-icons a:hover {
  color: #adb5bd;
}
.footer .copyright {
  text-align: center;
  padding: 20px 0;
  background-color: #23272b;
  color: #adb5bd;
}