* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0080ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://t3.ftcdn.net/jpg/06/53/43/38/360_F_653433862_JpxBRZ5gUxLsgfpc0H0sWawOjtKwrMfW.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: background-image 0.3s ease;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #000000d4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    color: white;
}

.container:hover {
    transform: scale(1.05);
}

.sign-in-form {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #e7dfdf;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #d4cccc;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error-message {
    color: #e74c3c;
    font-size: 12px;
    position: absolute;
    bottom: -18px;
    left: 0;
    visibility: hidden;
}

.remember-me {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}